@import '../../../sass/main.scss';

.nestedcomments {
    margin-top: 20px;

    .nestedcomments-info {
        display: flex;
        gap: 7px;
        justify-items: center;
        align-items: center;

        .nestedcomments-info-img {
            border-radius: 50%;
            object-fit: cover;
        }

        .nestedcomments-details {
            display: flex;
            flex-direction: column;
            width: 100%;

            .nestedcomments-name {
                font-weight: bold;
                font-size: $base-font-sm;
            }

            .nestedcomments-date {
                font-size: $base-font-sm;
                color: $base-main-color;
            }
        }
    }

    .nestedcomments-description {
        margin: 5px 0 5px;
    }

    .nestedcomments-button {
        display: flex;
        text-align: center;
        justify-items: center;
        gap: 5px;
        font-size: $f-small;
        margin-top: 10px;

        span {
            font-size: $f-small;
        }
    }

    .nestedcomments-active {
        margin-top: 10px;
    }
}
