%comment-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.postcomment {
    button {
        @extend %comment-btn;
    }

    .aaa {
        font-size: 20px;
        margin-left: 200px;
    }

    // .postcomment-card {
    // border: 1px solid black;
    // border-radius: $base-border-radius;
    // }
}
