.posts-container {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    // #fafafa
    height: 100%;
}

.post-container {
    margin-top: 10px;
    padding: 0 20%;
    color: $base-main-color;

    .post-wrapper {
        background-color: white;
        padding: 20px;
        // background-color: $base-main-color;
        border-radius: $base-border-radius;

        .post-header {
            // margin: 0 auto;
            // width: 80%;
            display: flex;
            align-items: center;

            .post-info {
                display: flex;
                gap: 7px;
                justify-items: center;
                align-items: center;

                .post-info-img {
                    border-radius: 50%;
                    object-fit: cover;
                }

                .post-info-details {
                    display: flex;
                    flex-direction: column;

                    .post-name {
                        font-weight: bold;
                        font-size: $base-font-sm;
                    }

                    .post-date {
                        font-size: $base-font-sm;
                    }
                }
            }
        }
        .post-body {
            margin: 10px 35px;

            a {
                &:visited {
                    color: black;
                }
            }

            .post-body-title {
                font-weight: bold;
                font-size: $base-font-size * 1.2;
            }
        }

        .post-footer {
            margin: 10px 35px;
            display: flex;
            font-weight: bold;
            font-size: $base-font-sm;
            gap: 10px;

            span {
                justify-items: center;
                align-items: center;
                margin-left: 5px;
            }
        }
    }
}
