.postscard {
    margin-top: 10px;
    background-color: white;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border: 1px solid black;

    .postcard-container {
        padding: 10px;

        .postscard-body {
            margin-top: 5px;
        }

        .postscard-footer {
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 5px;
            font-weight: bold;
            font-size: $base-font-sm;
        }
    }
}
