@import '../../../sass//main.scss';

.postcard {
    margin-top: 10px;
    background-color: white;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border: 1px solid black;

    .postcard-container {
        padding: 10px;

        .postcard-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .postcard-info {
                display: flex;
                gap: 7px;
                justify-items: center;
                align-items: center;

                .postcard-info-img {
                    border-radius: 50%;
                    object-fit: cover;
                }

                .postcard-info-details {
                    display: flex;
                    flex-direction: column;

                    .postcard-name {
                        font-weight: bold;
                        font-size: $base-font-sm;
                    }

                    .postcard-date {
                        font-size: $base-font-sm;
                        color: $base-main-color;
                    }
                }
            }
        }

        .postcard-body {
            margin-top: 5px;

            .postcard-body-title {
                display: inline-block;
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include aLink;
            }
        }

        .postcard-footer {
            display: flex;
            align-items: center;
            margin-top: 10px;
            gap: 2px;
            font-weight: bold;
            font-size: $base-font-sm;

            .footer-icon {
                margin-left: 5px;
            }
        }
    }
}
