@import '../../../sass/main.scss';

%dropdown-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

.comment-dropdown {
    width: 100px;

    position: relative;
    display: flex;
    justify-content: right;
    bottom: 10px;

    .dropdown-btn {
        background-color: transparent;
        border: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .dropdown-options {
        position: absolute;
        top: 130%;
        left: 0;
        border: 1px solid #bdbdbd;
        border-radius: $base-border-radius;
        background-color: #fff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        font-weight: 500;
        width: 100%;

        .dropdown-item {
            padding: 10px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background-color: #f4f4f4;
            }
        }
    }
}
