@import '../../sass/main.scss';

.footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 35px 0 30px;
    width: 100%;

    .footer-copyright {
        color: black;
    }
}
