$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 1200px,
);

@mixin sm {
    @media (max-width: map-get($breakpoints, 'sm')) {
        @content;
    }
}

@mixin md {
    @media (max-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin lg {
    @media (max-width: map-get($breakpoints, 'lg')) {
        @content;
    }
}

@mixin breakpoints($bp: 0) {
    @media (max-width: $bp) {
        @content;
    }
}

// 버튼.
@mixin btn() {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
