// theme colors
$main-color: blue;
$sub-color: green;
$error-color: #d32752;

// font sizes
$base-font-size: 1rem;
$base-font-sm: $base-font-size * 0.75;
$base-font-lg: $base-font-size * 1.5;

// spacing
$base-padding: 0.75rem;
$base-maring: 0.75rem;

// borders
$base-border-radius: 4px;
