@import '../../sass/main.scss';

.post {
    width: 100%;

    background: $base-bg-color;
    padding: 0 13%;
    margin-top: 20px;
    @include sm {
        padding: 0 3%;
    }

    .post-line {
        margin-top: 10px;
    }

    .container {
        border-radius: $base-border-radius;
        border: 1px solid $base-black-color;
        background-color: white;
        padding: 20px;

        .post-auth {
            margin-top: 10px;
            font-size: $f-mid;

            a {
                color: $base-blue-color;
            }
        }

        .post-commentForm {
            margin-top: 10px;
        }
    }
}
